.GameArea {
  display: grid;
  grid-template-columns: repeat(var(--xPieces), 1fr);
  grid-template-rows: repeat(var(--yPieces), 1fr);
  width: 800px;
  height: 800px;
  grid-template-areas: var(--puzzle-areas);
}

.SliderPiece {
  height: 100%;
  width: 100%;
  /* background-color: black; */
}

.GameArea > div:nth-child(1) {
  grid-area: s1;
  box-sizing: border-box;
  /* border:solid 100px green; */
  background-image: none !important;
  background-color: green;
 }
